.react-calendar-heatmap rect {
  rx: 2px; /* rounded corners */
  ry: 2px;
  width: 8px; /* box width */
  height: 8px; /* box height */
  shape-rendering: geometricPrecision;
  transition: fill 0.3s ease, stroke 0.2s ease;
}

.react-calendar-heatmap text {
  font-size: 8px;
  fill: #aaa;
}

.react-calendar-heatmap .color-empty {
  fill: #2b313f;
}

.react-calendar-heatmap .color-filled {
  fill: #2e6cb7;
}

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}
